In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv('C:\\Users\\akhil\\Downloads\\chikku\\Dataset\\MainDataSet.csv')
df1 = pd.read_csv('C:\\Users\\akhil\\Downloads\\chikku\\Dataset\\MainDataSet.csv')

In [2]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Water_Level,Soil
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,high,laterite soil
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,low,loam soil
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,high,alluvial soil
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,high,black soil
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,high,sandy loam soil

In [3]:
a='Crop'
last_col=df.pop(a)
df.insert(8,a,last_col)

In [4]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Area,Production,Water_Level,Soil,Crop
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,1254.0,2000.0,high,laterite soil,Arecanut
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,2.0,1.0,low,loam soil,Other Kharif pulses
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,102.0,321.0,high,alluvial soil,Rice
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,176.0,641.0,high,black soil,Banana
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,720.0,165.0,high,sandy loam soil,Cashewnut

In [5]:
le_State_Name=LabelEncoder()
le_District_Name=LabelEncoder()
le_Season=LabelEncoder()
le_Water_Level=LabelEncoder()
le_Soil=LabelEncoder()
le_Crop=LabelEncoder()

In [6]:
df['State_Name']=le_State_Name.fit_transform(df['State_Name'])
df['District_Name']=le_District_Name.fit_transform(df['District_Name'])
df['Season']=le_Season.fit_transform(df['Season'])
df['Water_Level']=le_State_Name.fit_transform(df['Water_Level'])
df['Soil']=le_Soil.fit_transform(df['Soil'])
df['Crop']=le_Crop.fit_transform(df['Crop'])

In [7]:
df.pop('Area')
df.pop('Production')
df.pop('Crop_Year')
df.head()

   State_Name  District_Name  Season  Water_Level  Soil  Crop
0           0            427       1            0     6     2
1           0            427       1            1     7    74
2           0            427       1            0     0    95
3           0            427       4            0     2     7
4           0            427       4            0     8    22

In [8]:
df1.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Water_Level,Soil
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,high,laterite soil
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,low,loam soil
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,high,alluvial soil
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,high,black soil
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,high,sandy loam soil

In [9]:
X=df.iloc[:,:-1] ## independent features
Y=df.iloc[:,-1] ## dependent features

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

In [12]:
from sklearn.ensemble import RandomForestClassifier

In [13]:
model = RandomForestClassifier()

In [14]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [15]:
model.score(X_train,y_train)

0.7495682473891666

In [16]:
model.score(X_test,y_test)

0.7021881793616286

In [17]:
model.predict(X_train)

array([ 33, 119,  13, ..., 116,  61,  48])

In [18]:
print('Training Data Score:',model.score(X_train,y_train))
print('Training Data Score:',model.score(X_test,y_test))

Training Data Score: 0.7495682473891666
Training Data Score: 0.7021881793616286

In [20]:
RandomForestClassifier.plot_tree(model)

AttributeError: type object 'RandomForestClassifier' has no attribute 'plot_tree'

In [ ]:
treeObj = model.tree_
print treeObj.node_count